body {
  background-image: url("gold.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -2px -85px;
}

.clock-container {
  padding: 30px;
  display: block;
  margin: 0 auto;

  text-align: center;
  max-width: 950px;
  background-color: white;
  opacity: 85%;
}
a {
  text-decoration: none;
  color: rgb(209, 157, 2);
}
h1 a {
  -webkit-text-stroke: 2px black;
  text-shadow: 5px 5px 10px rgba(209, 157, 2, 0.4);
  color: #d19d02;
}
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  font-weight: 700;

  /* background-color: rgb(161, 228, 237); */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 100%;
}

select {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(244, 226, 176);
  color: rgb(209, 157, 2);
  border: none;
  font-size: 25px;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 5px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-family: "Josefin Sans", sans-serif;
}

/*.flex-container > div {
  width: 300px;
  height: 300px;
  background-color: rgb(18, 102, 159);
  background-position: 10% 60%;
  color: rgb(249, 239, 207);
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  border-color: rgb(201, 196, 179);
  border: solid;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 16px rgba(4, 119, 199, 0.2);
}
*/
h2 {
  padding-top: 20px;
}

.flex-container > div:hover {
  cursor: pointer;
  opacity: 80%;
  transition: all 120ms ease-in-out;
}

.city-1 {
  background-image: url("riga.jpeg");
  background-position: -1px;
  color: rgb(244, 226, 176);
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  border: solid;
  border-color: rgb(209, 157, 2);
  border-radius: 50%;
  box-shadow: 2px -6px 95px rgba(19, 18, 18, 0.2);
  -webkit-text-stroke: 2px black;
}
.city-2 {
  background-image: url("portland2.jpg");
  background-position: center;
  background-position: -2px -85px;
  margin-right: 10px;
  margin-left: 10px;
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  border: solid;
  border-color: rgb(209, 157, 2);
  border-radius: 50%;
  box-shadow: 2px -6px 95px rgba(19, 18, 18, 0.2);
  color: rgb(244, 226, 176);
  -webkit-text-stroke: 2px black;
}

.city-3 {
  background-image: url("tokyo.jpg");
  background-position: -2px -55px;
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  border: solid;
  border-color: rgb(209, 157, 2);
  border-radius: 50%;
  box-shadow: 2px -6px 95px rgba(19, 18, 18, 0.2);
  color: rgb(244, 226, 176);
  -webkit-text-stroke: 2px black;
}
.city-4 {
  display: block;
  margin: 0 auto;
  background-image: url("city.jpg");
  background-position: -150px -450px;
  width: 400px;
  height: 400px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  border: solid;
  border-color: rgb(209, 157, 2);
  border-radius: 50%;
  box-shadow: 2px -6px 95px rgba(19, 18, 18, 0.2);
  color: rgb(244, 226, 176);
  -webkit-text-stroke: 2px black;
}
.time {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
}
.date {
  font-size: 30px;
  font-weight: bold;
}
footer > a {
  color: rgb(7, 73, 117);
}

footer {
  margin: 50px 10px 10px 20px;
  color: rgb(209, 157, 2);
  text-shadow: 5px 5px 10px rgba(209, 157, 2, 0.4);
  color: #d19d02;
}
